/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
